/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 30, ../../app/stylesheets/screen.sass */
form {
  display: inline;
}

/* line 33, ../../app/stylesheets/screen.sass */
#map_canvas {
  width: 600px;
  height: 278px;
}

/* line 104, ../../app/stylesheets/screen.sass */
.hidden {
  display: none;
}
