/* line 7, ../../app/stylesheets/screen.sass */
form {
  display: inline;
}

/* line 10, ../../app/stylesheets/screen.sass */
#map_canvas {
  width: 600px;
  height: 278px;
}

/* line 14, ../../app/stylesheets/screen.sass */
#map_canvas_volunteer {
  width: 580px;
  height: 278px;
}

/* line 18, ../../app/stylesheets/screen.sass */
.hidden {
  display: none;
}

/* line 21, ../../app/stylesheets/screen.sass */
.volunteer_name {
  font-size: 18px;
}

/* line 24, ../../app/stylesheets/screen.sass */
.volunteer_address {
  font-size: 14px;
  color: #555555;
}

/* line 28, ../../app/stylesheets/screen.sass */
.volunteer_phones {
  font-size: 12px;
  margin-top: 10px;
}

/* line 32, ../../app/stylesheets/screen.sass */
.missions_empty {
  padding-top: 55px;
  height: 200px;
  text-align: center;
}
/* line 36, ../../app/stylesheets/screen.sass */
.missions_empty .info {
  margin-top: 10px;
  color: #555555;
  font-style: italic;
}
/* line 39, ../../app/stylesheets/screen.sass */
.missions_empty .add {
  color: #1f86c8;
}

/* line 43, ../../app/stylesheets/screen.sass */
.Availability td {
  cursor: pointer;
}

/* line 47, ../../app/stylesheets/screen.sass */
#pending_list td, #pending_list span {
  cursor: pointer;
}

/* line 50, ../../app/stylesheets/screen.sass */
tr.link {
  cursor: pointer;
}

/* line 53, ../../app/stylesheets/screen.sass */
#version {
  display: inline;
  margin-left: 50px;
}

/* line 58, ../../app/stylesheets/screen.sass */
#mission_form textarea {
  width: 594px !important;
}

/* line 62, ../../app/stylesheets/screen.sass */
.import_error_description {
  background: none;
  text-align: left;
}
/* line 65, ../../app/stylesheets/screen.sass */
.import_error_description > * {
  margin-left: 0px;
}

/* line 69, ../../app/stylesheets/screen.sass */
#volunteers_search {
  position: relative;
  top: 5px;
}

/* line 75, ../../app/stylesheets/screen.sass */
#check_candidates a {
  color: #ff6600;
}
/* line 77, ../../app/stylesheets/screen.sass */
#check_candidates a:hover {
  color: #ff8533;
}

/* line 81, ../../app/stylesheets/screen.sass */
.gphone, .gmobile {
  color: #999999;
}

/* line 85, ../../app/stylesheets/screen.sass */
span.time {
  display: inline-block;
  margin-top: 5px;
}
