// @import compass/reset

@mixin info-empty
	color: #555
	font-style: italic

form
	display: inline

#map_canvas
	width: 600px
	height: 278px

#empty_volunteers
	@include info-empty
	text-align: center
	padding-top: 130px

.hidden
	display: none

.volunteer_name
	font-size: 16px

.volunteer_address
	font-size: 14px
	color: #555

.volunteer_phones
	font-size: 12px
	margin-top: 10px
	
.missions_empty
	padding-top: 100px
	height: 150px
	text-align: center
	.info
		@include info-empty
	.add
		color: #1F86C8