%div(data-bind="css: { field_with_errors: 'name' in errors() }")
  %label(for="name") Event name
  %input#name.ux-text.span12(placeholder="Enter the name of this event, e.g. 'Fire on Rangeland'" data-bind="value: name, attr: { readonly: isRunningOrFinished }")
  %br
%br
%label Recruitees
.mission_skills(data-bind="foreach: mission_skills")
  .mission_skill(data-bind="visible: !_destroy()")
    %span.ux-nstep.w06
      %input.req_vols(type="text" size="2" data-min="1" data-bind="value: req_vols, attr: { readonly: $root.isRunningOrFinished() }")
    %span
      %select.ux-dropdown.w30.skill_id(data-bind="options: availableSkills, optionsText: 'pluralized', optionsValue: 'id', value: skill_id, enable: $root.isCreated()")
    %button.cremove(data-bind="click: $root.removeMissionSkill, visible: $root.visibleSkills() > 1 && $root.isCreated()")
    %br
%div(data-bind="if: availableSkills().length > 0 && isCreated()")
  %button.btn.btn-link.btn-medium(data-bind="click: addMissionSkill") 
    %span.ic-blue
      %i.icon-plus
    Recruit for another skill
%br
%div(data-bind="css: { field_with_errors: 'reason' in errors() }")
  %label(for="reason") Description
  %textarea#reason.span12.ux-wajbar(maxlength="200" size="" placeholder="Enter the description, e.g 'a single house fire'" data-bind="value: reason, attr: { readonly: isRunningOrFinished }")
  %br
%div(data-bind="css: { field_with_errors: 'lat' in errors() || 'lng' in errors() || 'address' in errors() }")
  %label(for="address") Address
  %span.help-block.small Enter an address to find recruitees nearby or you can right-click in the map to indicate a location
  %input#address.ux-text.span9(placeholder="Enter the address, e.g '1710 Trousdale, Burlingame'" data-bind="value: address, attr: { readonly: !isCreated() }")
  %button#search_address.btn.btn-link.btn-medium(data-bind="click: findRecruitees, enable: isCreated, css: isCreated() ? '' : 'disabled'")
    %span.ic-white
      %i.icon-search
    Find recruitees nearby
  %br
%br

