%p We will call and text the recruitees below with the following message:
%p.tgrey
	%em Hello, this is the Red Cross. There is
	- if mission.reason.present?
		= mission.reason
	- else
		%em a single house fire
	%em located at
	- if mission.address.present?
		= mission.address
	- else
		%em 1710 Trousdale, Burlingame.