%div(data-bind="visible: id")
  %p We will call and text the recruitees below with the following message:
  %p
    %span(data-bind="text: intro_text, visible: current_edit_message() != 'intro', click: edit_message.bind($data, 'intro')")
    %input(type = "text" data-bind="value:intro_text, visible:current_edit_message() == 'intro', event: {blur: edit_message.bind($data, '')}, hasfocus: current_edit_message() == 'intro'")
  %p
    %input(type = "checkbox" data-bind="checked: confirm_human")
    = I18n.t :human_message
  %p
    %span(data-bind="text: desc_text, visible: current_edit_message() != 'desc', click: edit_message.bind($data, 'desc')")
    %input(type = "text" data-bind="value: desc_text, visible:current_edit_message() == 'desc', event: {blur: edit_message.bind($data, '')}, hasfocus: current_edit_message() == 'desc'")
    %input(type = "radio" name="location_type" value="city" data-bind="checked: location_type")
    %label City
    %input(type = "radio" name="location_type" value="address" data-bind="checked: location_type")
    %label Address
  %p
    %span(data-bind="text: question_text, visible: current_edit_message() != 'question', click: edit_message.bind($data, 'question')")
    %input(type = "text" data-bind="value: question_text, visible:current_edit_message() == 'question', event: {blur: edit_message.bind($data, '')}, hasfocus: current_edit_message() == 'question'")
    %em.left= I18n.t :voice_message_options
    .clear
  %p
    Yes ->
    %span(data-bind="text: yes_text, visible: current_edit_message() != 'yes', click: edit_message.bind($data, 'yes')")
    %input(type = "text" data-bind="value: yes_text, visible:current_edit_message() == 'yes', event: {blur: edit_message.bind($data, '')}, hasfocus: current_edit_message() == 'yes'")
    %span(data-bind="text: address")
  %p
    No ->
    %span(data-bind="text: no_text, visible: current_edit_message() != 'no', click: edit_message.bind($data, 'no')")
    %input(type = "text" data-bind="value: no_text, visible:current_edit_message() == 'no', event: {blur: edit_message.bind($data, '')}, hasfocus: current_edit_message() == 'no'")
  %hr
  %p
    If the volunteer calls back, forward the call to this number:
    %input(type="tel" data-bind="value: forward_address")

