.L
	- if mission.new_record?
		%span No recruitees
		%span required yet
	- else
		%span= mission.candidate_count(:confirmed) > 0 ? mission.candidate_count(:confirmed) : "No volunteers"
		%span confirmed
.R
	- unless mission.new_record?
		%span= mission.total_req_vols
		%span needed
%br{:clear => "all"}
.M
	%span.Fill{:style => progress_percentage(mission)}
