%h1
  %span(data-bind="text: title")
  = image_tag "icons/synchronizing.gif", 'data-bind' => "visible: saving", 'style' => "float:right"
  = image_tag "icons/dirty.png", 'data-bind' => "visible: !saving() && dirty()", 'style' => "float:right"

