- content_for :head do
	= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?sensor=false'

#left-panel
	#form_canvas
		= render :partial => "form", :locals => { :mission => @mission }
	#map_canvas
		here goes the map!
	= render :partial => "distance", :locals => { :distance => @distance }
#right-panel
	#volunteers_canvas
		= render :partial => "candidates", :locals => { :mission => @mission }

