%h1= @organization.name

%ul.tabs.top
  %li{class: params[:controller] == 'organizations' && params[:action] == 'show' && 'active'}
    = link_to 'Overview', organization_path(@organization.id)
  - if @owner
    %li{class: params[:controller] == 'organizations' && params[:action] == 'edit' && 'active'}
      = link_to 'Settings', edit_organization_path(@organization.id)
.tabsline

