%h1
  Organizations
  - if @organizations.present?
    = form_tag new_organization_path, :method => :get do
      %button.cadd{:type => "submit"} Create New

.tablewrapp
  %table.GralTable.ButtonTable
    %tr
      %th Name
      %th &nbsp;
    - @organizations.each do |organization|
      %tr
        %td= link_to organization.name, organization_path(organization.id)
        %td
          = link_to 'Select', select_organization_path(organization.id)

  - if @organizations.empty?
    .missions_empty
      %div.info To start using Watchfire you must create an Organization
      %a.add{:href => new_organization_path}
        Create Organization
        %button.cadd

