%h1= @organization.name

- if @owner
  %div Invite a user to this organization:

  %form{:action => invite_user_organization_path(:id => @organization.id), :method => 'post'}
    = token_tag
    %input.w30{:type => 'text', :name => 'email', placeholder: 'i.e. john@doe.com'}
    %input{:type => 'submit', :value => 'Invite'}

  %br
  %br

%div Current members:

%ul
  - @organization.users.each do |user|
    %li= user.email

- if @owner
  = link_to 'Edit', edit_organization_path(@organization)