<%= devise_error_messages! :class => 'centered w30' %>

<div class="box centered w30">
	<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name) do |f| %>
		<h2>Send invitation</h2>
		
		<hr class="shadow" />
		
		<div class="field w30">
			<%= f.label :email %>
			<%= f.email_field :email %>
		</div>
		
		<div class="actions">
			<button type="submit" class="white">Send an invitation</button>
		</div>
	<% end %>
</div>
