- if organization_owner?
  %div Invite a user to this organization:

  %form{:action => invite_members_path, :method => 'post'}
    = token_tag
    %input.w30{:type => 'text', :name => 'email', placeholder: 'i.e. john@doe.com'}
    %input{:type => 'submit', :value => 'Invite'}

  %br
  %br

%div Current members:

%ul
  - members.each do |member|
    %li= member.user.email
