- if organization_owner?
  %div Invite a user to this organization:

  %form{:action => invite_members_path, :method => 'post'}
    = token_tag
    %input.w30{:type => 'text', :name => 'email', placeholder: 'i.e. john@doe.com'}
    %input{:type => 'submit', :value => 'Invite'}

  %br
  %br

- if members.empty?
  - if current_organization
    %div.info There are no members in this organization
  - else
    .missions_empty
      %div.info To start using Watchfire you must create an Organization
      %a.add{:href => new_organization_path}
        Create Organization
        %button.cadd
- else
  %div Current members:

  %ul
    - members.each do |member|
      %li= member.user.email
